<div class="uk-container uk-section-default uk-visible@s">
            <div class="uk-padding-small uk-flex uk-flex-middle uk-flex-between">
                <div class="uk-text-uppercase">New sale platform</div>
                <div class="uk-grid">
                    <ul class="uk-subnav uk-width-auto uk-flex-middle">
                        <li><a href="#"><span class="uk-label">Favorite</span> <span
                                class="uk-badge uk-text-top">3</span></a>
                        </li>
                        <li><a href="#"><span class="uk-label uk-label-success">Success</span> <span
                                class="uk-badge uk-text-top uk-label-success">4</span></a></li>
                    </ul>
                    <a class="uk-link-reset uk-width-auto" href="#">
                        <div class="uk-flex-middle uk-grid">
                            <div class="uk-width-auto uk-first-column">
                                <img class="uk-icon-avatar" src="assets/images/lots/user.jpg" alt="">
                            </div>
                            <div class="uk-width-auto">
                                <h4 class="uk-margin-remove">Daniel Devis</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>