<lucky-sign-in-pop-up (loginStatus)="loginProcessStateChange($event)"></lucky-sign-in-pop-up>

<div class="uk-container uk-section-default uk-visible@s">
  <div class="uk-padding-small uk-flex uk-flex-middle uk-flex-between">
    <div class="uk-text-uppercase">New sale platform</div>
    <div class="uk-grid">

      <ng-template [ngIf]="authService.isAuthenticated()">
        <ul class="uk-subnav uk-width-auto uk-flex-middle">
          <li><a href="#"><span class="uk-label">Favorite</span> <span
            class="uk-badge uk-text-top">3</span></a>
          </li>
          <li><a href="#"><span class="uk-label uk-label-success">Success</span> <span
            class="uk-badge uk-text-top uk-label-success">4</span></a>
          </li>
        </ul>
      </ng-template>

      <a *ngIf="authService.isAuthenticated()" (click)="onLogOut()" class="uk-link-reset" title="Выйти">
        <img class="uk-icon-avatar" src="assets/images/icons/logout.svg" alt="">
      </a>


      <a *ngIf="!authService.isAuthenticated()" class="uk-link-reset uk-width-auto" title="Вход в систему">
        <div class="uk-flex-middle uk-grid">

          <ng-template [ngIf]="inProgress">
            <div uk-spinner></div>
            <p>Вход ...</p>
          </ng-template>

          <ng-template [ngIf]="!inProgress">
            <div class="uk-width-auto uk-first-column">
              <img class="uk-icon-avatar" src="assets/images/icons/login.svg" alt="">
            </div>
            <div (click)="openAuthDialog()" class="uk-width-auto">
              <h5 class="uk-margin-remove">Войти</h5>
            </div>
          </ng-template>

        </div>
      </a>

      <a *ngIf="authService.isAuthenticated()" class="uk-link-reset uk-width-auto" href="#" title="Войти">
        <div class="uk-flex-middle uk-grid">
          <div class="uk-width-auto uk-first-column">
            <img class="uk-icon-avatar" src="assets/images/icons/login.svg" alt="">
          </div>
          <div class="uk-width-auto">
            <h5 class="uk-margin-remove">Daniel Devis</h5>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>
