<table class="uk-table uk-table-responsive uk-table-divider uk-table-hover">
  <thead>
  <tr>
    <th class="uk-table-shrink">id</th>
    <th class="uk-table-shrink">img</th>
    <th>Название</th>
    <th>Описание</th>
    <th class="uk-table-shrink">Категория</th>
    <th class="uk-table-shrink">№</th>
    <th class="uk-table-shrink uk-text-nowrap">Цена</th>
    <th class="uk-table-shrink uk-text-nowrap">Дата создания<br> Дата изменения</th>
    <th class="uk-table-shrink uk-text-nowrap uk-background-muted" *ngIf="type!=3">О</th>
    <th class="uk-table-shrink uk-text-nowrap uk-background-muted" *ngIf="type!=3">Р</th>
    <th class="uk-table-shrink uk-text-nowrap uk-background-muted" *ngIf="type!=1">У</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lot of lots" class="">
    <td>{{lot.id}}</td>
    <td><img *ngIf="lot.pictures[0]" class="uk-preserve-width" src="{{lot.getFirstPicture().picture_url}}"
             width="40" alt="">
    </td>
    <td class="uk-table-link">
      <h4><a class="uk-link-reset" routerLink='{{lot.id}}'>{{lot.name | slice:0:15}}</a></h4>
    </td>
    <td>{{lot.description | slice:0:15}}</td>
    <td>{{lot.category_id}}</td>
    <td>{{lot.count_participants}}</td>
    <td>{{lot.price}}</td>
    <td>{{lot.created_at | date: 'dd.MM.yyyy'}} {{lot.updated_at | date: 'dd.MM.yyyy'}}</td>
    <td class="uk-text-nowrap uk-background-muted" *ngIf="type!=3">
      <label *ngIf="!lot.published">
        <input class="uk-checkbox" type="checkbox"
               [(ngModel)]="lot.published"
               title="Опубликовать" uk-tooltip="pos: bottom"
               (click)="onPush(lot.id)">
      </label>
      <label *ngIf="lot.published">
        <input class="uk-checkbox" type="checkbox"
               [(ngModel)]="lot.published"
               title="Снять с публикации" uk-tooltip="pos: bottom"
               (click)="onUnPush(lot.id)">
      </label>
    </td>
    <td class="uk-text-nowrap uk-background-muted" *ngIf="type!=3">
      <label *ngIf="lot.recommend">
        <input class="uk-checkbox" type="checkbox"
               [(ngModel)]="lot.recommend"
               (click)="onRecommendedLot(lot.id)"
               title="Отменить рекомендацию" uk-tooltip="pos: bottom">
      </label>
      <label *ngIf="!lot.recommend">
        <input class="uk-checkbox" type="checkbox"
               [(ngModel)]="lot.recommend"
               (click)="onRecommendedLot(lot.id)"
               title="Рекомендовать" uk-tooltip="pos: bottom">
      </label>
    </td>
    <td class="uk-text-nowrap uk-background-muted" *ngIf="type!=1">
      <label *ngIf="!lot.deleted">
        <input class="uk-checkbox" type="checkbox"
               [(ngModel)]="lot.deleted"
               (click)="onDelete(lot.id)"
               title="Удалить" uk-tooltip="pos: bottom">
      </label>
      <label *ngIf="lot.deleted">
        <input class="uk-checkbox" type="checkbox"
               [(ngModel)]="lot.deleted"
               (click)="onUnDelete(lot.id)"
                title="Отменить удаление" uk-tooltip="pos: bottom">
        </label>
    </td>
  </tr>
  </tbody>
</table>
