<div class="uk-offcanvas-content">
  <div class="uk-container">

    <form role="form" [formGroup]="categoryCreateFG" (ngSubmit)="onSubmit()">
      <div>
        <label class="uk-form-label">Название категории</label>
        <div class="uk-form-controls">
          <input
            class="uk-input"
            type="text"
            placeholder="Введите название категории"
            formControlName="categoryName">
        </div>
        <div *ngIf="!categoryCreateFG.get('categoryName').valid && categoryCreateFG.get('categoryName').touched">
          Необходимо внести название категрии.
        </div>
      </div>

      <div>
        <div class="uk-form-controls">
          <input
            class="uk-input"
            type="text"
            placeholder="Введите описание категории"
            formControlName="description">
        </div>
        <div *ngIf="!categoryCreateFG.get('description').valid && categoryCreateFG.get('description').touched">
          Необходимо внести описание категрии.
        </div>
      </div>

      <button [disabled]="!categoryCreateFG.valid" type="submit" class="uk-button uk-button-primary">Create category</button>
    </form>

  </div>
</div>

