<div class="uk-offcanvas-content">
  <div class="uk-container">
    <div>
      <div class="uk-grid-collapse uk-child-width-1-4@m uk-child-width-1-5@l uk-grid-match uk-grid">
        <div class="uk-first-column uk-section-default uk-visible@m">
          <div class="uk-padding-small">

            <ul class="uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
              <li class="uk-active"><a href="#">Каталог </a></li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: laptop"></span>
                  Электроника</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Аксессуары и запчасти</a></li>
                  <li><a href="#">Компьютерная техника</a></li>
                  <li><a href="#">Телефоны и аксессуары</a></li>
                  <li><a href="#">Другое</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: laptop"></span> Транспорт</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span>
                  Недвижимость</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span>
                  Денежные</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Luxury</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Услуги</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>

            </ul>

            <ul class="uk-nav-parent-icon uk-nav" uk-nav="">
              <li class="uk-parent">
                <a href="#">Число участников</a>
                <ul class="uk-nav-sub">
                  <li><a href="#">Число вступивших</a>
                    <ul>
                      <li><a href="#">Sub item</a></li>
                      <li><a href="#">Sub item</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Число вступивших</a>
                    <ul>
                      <li><a href="#">Sub item</a></li>
                      <li><a href="#">Sub item</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>

            <ul class="uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
              <li class="uk-parent">
                <a href="#"> Цена (Статус)</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">1</a></li>
                  <li><a href="#">Компьютерная техника</a></li>
                  <li><a href="#">Телефоны и аксессуары</a></li>
                  <li><a href="#">Другое</a></li>
                </ul>
              </li>
            </ul>

            <p>Lucky Board</p>
            <div class="uk-flex-middle uk-grid">
              <div class="uk-width-auto uk-first-column">
                <img class="uk-icon-avatar" src="assets/images/lots/user.jpg" alt="">
              </div>
              <div class="uk-width-expand">
                <h5 class="uk-margin-remove-vertical">Rosario Dawson</h5>
                <p class="uk-margin-remove-vertical uk-text-muted">Iphone 7</p>
              </div>
              <div class="uk-width-auto uk-first-column">
                <img class="uk-icon-avatar" src="assets/images/lots/user.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-3-4@m  uk-width-4-5@l uk-section-default">
          <div class="uk-padding-small uk-padding-remove-bottom">
            <div class=" uk-padding-remove-bottom">
              <div class="uk-float-right">
                <label class="uk-form-label uk-text-muted">Сортировать</label>
                <select class="uk-select uk-form-width-small uk-form-small">
                  <option>По имени</option>
                  <option>Option 02</option>
                </select>
              </div>
              <h4 class="uk-heading-divider uk-margin-remove-vertical">Рекомендуемые</h4>
            </div>
          </div>

          <div class="uk-background-default uk-padding-small uk-padding-remove-bottom">
            <div class="uk-grid">
<lucky-lot-panel></lucky-lot-panel>
<lucky-lot-panel></lucky-lot-panel>
<lucky-lot-panel></lucky-lot-panel>
<lucky-lot-panel></lucky-lot-panel>
            </div>
            <div class="uk-text-center"><span uk-icon="ratio: 2; icon: chevron-down"></span></div>
          </div>

          <div class="uk-padding-small uk-padding-remove-bottom">
            <div class=" uk-padding-remove-bottom">
              <div class="uk-float-right">
                <label class="uk-text-muted">Супер лоты</label>
                <select class="uk-select uk-form-width-small uk-form-small">
                  <option>По имени</option>
                  <option>Option 02</option>
                </select>
              </div>
              <h4 class="uk-heading-divider uk-margin-remove-vertical">Рекомендуемые</h4>
            </div>
          </div>
          <div class="uk-background-muted-dark uk-padding-small">
            <div class="uk-grid">
<lucky-lot-panel></lucky-lot-panel>
<lucky-lot-panel></lucky-lot-panel>
<lucky-lot-panel></lucky-lot-panel>
<lucky-lot-panel></lucky-lot-panel>
            </div>
            <div class="uk-text-center"><span uk-icon="ratio: 2; icon: chevron-down"></span></div>
          </div>
        </div>
      </div>
    </div>

    <div id="offcanvas-overlay-flip-push" uk-offcanvas="mode: push; overlay: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">

        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-nav-parent-icon" uk-nav>
          <li><a routerLink="/main">Главная</a></li>
          <li><a routerLink="/about">О Клубе</a></li>
          <li><a routerLink="/rules">Правила</a></li>
          <li><a [routerLink]="['/contacts']">Контакты</a></li>
        </ul>

        <div>
          <div class="uk-grid-small uk-child-width-auto uk-flex-inline" uk-grid>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: facebook"></a>
            </div>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: twitter"></a>
            </div>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: mail"></a>
            </div>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: receiver"></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
