<div class="uk-offcanvas-content">
  <div class="uk-container">
    <div class="uk-section-default">
      <div class="uk-padding-small">
        <div class="uk-card uk-card-header uk-card-primary uk-margin">
          <h3>Редактирование лота {{id}}</h3>
        </div>
        <div class="uk-background-muted uk-padding ">
          <form role="form" [formGroup]="lotEditFG" (ngSubmit)="onSubmit()">

            <div class="uk-margin uk-grid-small uk-grid">
              <label class="uk-form-label uk-width-1-5@s uk-first-column" for="name">Название</label>
              <div class="uk-form-controls uk-width-4-5@s">
                <input class="uk-input"
                       id="name"
                       type="text"
                       placeholder="name"
                       formControlName="name">
              </div>
            </div>
            <div class="uk-margin uk-grid-small uk-grid">
              <label class="uk-form-label uk-width-1-5@s uk-first-column" for="description">Описание</label>
              <div class="uk-form-controls uk-width-4-5@s">
                <textarea class="uk-textarea"
                          id="description"
                          type="text"
                          placeholder="Description"
                          formControlName="description"></textarea>
              </div>
            </div>
            <div class="uk-margin uk-grid-small uk-grid">
              <label class="uk-form-label uk-width-1-5@s uk-first-column" for="category_id">Категория</label>
              <div class="uk-form-controls uk-width-4-5@s">
                <input class="uk-input"
                       id="category_id"
                       type="text"
                       placeholder="Description"
                       formControlName="category_id">
              </div>
            </div>
            <div class="uk-margin uk-grid-small uk-grid">
              <label class="uk-form-label uk-width-1-5@s uk-first-column" for="count_participants">Число участников</label>
              <div class="uk-form-controls uk-width-4-5@s">
                <input class="uk-input"
                       id="count_participants"
                       type="text"
                       placeholder="Description"
                       formControlName="count_participants">
              </div>
            </div>
            <div class="uk-margin uk-grid-small uk-grid">
              <label class="uk-form-label uk-width-1-5@s uk-first-column" for="price">Цена</label>
              <div class="uk-form-controls uk-width-4-5@s">
                <input class="uk-input"
                       id="price"
                       type="text"
                       placeholder="Description"
                       formControlName="price">
              </div>
            </div>
            <div class="uk-text-right">
              <button class="uk-button uk-button-primary" type="submit">Save</button>
              <button class="uk-button uk-button-default" (click)="onCancel()">Cancel</button>
            </div>
          </form>
        </div>
        <div class="uk-background-muted uk-padding ">
          <form role="form" [formGroup]="lotEditImgFG" (ngSubmit)="onSubmit()">
            <div class="uk-margin uk-grid-small uk-grid">
              <label class="uk-form-label uk-width-1-5@s uk-first-column" for="img">Изображение</label>
              <div class="uk-form-controls uk-width-4-5@s">
                <input class="uk-input"
                       id="img"
                       type="text"
                       placeholder="Description"
                       formControlName="price">
              </div>
            </div>
            <div class="uk-text-right">
              <button class="uk-button uk-button-primary" type="submit">Save</button>
              <button class="uk-button uk-button-default" (click)="onCancel()">Cancel</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
