<div class="uk-offcanvas-content">
  <div class="uk-container">
    <div class="uk-section-default">
      <div class="uk-padding-small">
        <div class="uk-overflow-auto">
          <ul class="uk-subnav uk-subnav-pill"
              uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
            <li><a href="#">Опубликованно</a></li>
            <li><a href="#">Черновики</a></li>
            <li><a href="#">Удалено</a></li>
          </ul>
          <ul class="uk-switcher uk-margin">
            <li>
              <lucky-lots-admin-list [lot]="lots" [type]="'1'"></lucky-lots-admin-list>
            </li>
            <li class="">
              <lucky-lots-admin-list [lot]="dr_lots" [type]="'2'"></lucky-lots-admin-list>
            </li>
            <li class="">
              <lucky-lots-admin-list [lot]="del_lots" [type]="'3'"></lucky-lots-admin-list>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-section-default">
      <div class="uk-padding-small">
        <div class="uk-button-group uk-text-right">
          <button (click)="onNewLot()" class="uk-button uk-button-primary">
            <span uk-icon="icon: plus-circle"></span> Добавить лот
          </button>
        </div>
        <!--<router-outlet></router-outlet>-->
      </div>
    </div>
  </div>
</div>
