<div class="uk-offcanvas-content">
  <div class="uk-container">
    <div class="uk-container uk-section-default uk-visible@s">
      <div class="uk-padding-small uk-flex uk-flex-middle uk-flex-between">
        <div class="uk-text-uppercase">New sale platform</div>
        <div class="uk-grid">
          <ul class="uk-subnav uk-width-auto uk-flex-middle">
            <li><a href="#"><span class="uk-label">Favorite</span> <span
              class="uk-badge uk-text-top">3</span></a>
            </li>
            <li><a href="#"><span class="uk-label uk-label-success">Success</span> <span
              class="uk-badge uk-text-top uk-label-success">4</span></a></li>
          </ul>
          <a class="uk-link-reset uk-margin-right">
            <img class="uk-icon-avatar" src="assets/images/icons/logout.svg" alt="">
          </a>
          <a class="uk-link-reset uk-width-auto" href="#">
            <div class="uk-flex-middle uk-grid">
              <div class="uk-width-auto uk-first-column">
                <img class="uk-icon-avatar" src="assets/images/lots/user.jpg" alt="">
              </div>
              <div class="uk-width-auto uk-first-column">
                <img class="uk-icon-avatar" src="assets/images/icons/login.svg" alt="">
              </div>
              <div class="uk-width-auto">
                <h5 class="uk-margin-remove">Daniel Devis</h5>
              </div>
              <div class="uk-width-auto">
                <h5 class="uk-margin-remove">Войти в личный кабинет</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <nav class="uk-navbar-container uk-section-muted">
      <div class="uk-container">
        <div uk-navbar>
          <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">Logo</a>
          </div>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-subnav-divider uk-visible@m">
              <li><a href="#">О Клубе</a></li>
              <li><a href="#">Правила</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <a class="uk-hidden@m uk-navbar-item" href="#offcanvas-overlay-flip-push" uk-toggle
               uk-icon="icon: menu"></a>
            <form class="uk-visible@m uk-navbar-item">
              <div class="uk-button-group">
                <input class="uk-input uk-form-width-medium uk-form-small " type="text" placeholder="Search">
                <select class="uk-select uk-form-width-small uk-form-small ">
                  <option>All caregories</option>
                  <option>Option 02</option>
                </select>
              </div>
              <button class="uk-button uk-button-primary uk-button-small">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <div class="uk-grid-collapse uk-child-width-1-4@m uk-child-width-1-5@l uk-grid-match uk-grid">
        <div class="uk-first-column uk-section-default uk-visible@m">
          <div class="uk-padding-small">

            <ul class="uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
              <li class="uk-active"><a href="#">Каталог </a></li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: laptop"></span>
                  Электроника</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Аксессуары и запчасти</a></li>
                  <li><a href="#">Компьютерная техника</a></li>
                  <li><a href="#">Телефоны и аксессуары</a></li>
                  <li><a href="#">Другое</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: laptop"></span> Транспорт</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span>
                  Недвижимость</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span>
                  Денежные</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Luxury</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>
              <li class="uk-parent">
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Услуги</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">Транспорт1</a></li>
                  <li><a href="#">Транспорт2</a></li>
                </ul>
              </li>

            </ul>

            <ul class="uk-nav-parent-icon uk-nav" uk-nav="">
              <li class="uk-parent">
                <a href="#">Число участников</a>
                <ul class="uk-nav-sub">
                  <li><a href="#">Число вступивших</a>
                    <ul>
                      <li><a href="#">Sub item</a></li>
                      <li><a href="#">Sub item</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Число вступивших</a>
                    <ul>
                      <li><a href="#">Sub item</a></li>
                      <li><a href="#">Sub item</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>

            <ul class="uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
              <li class="uk-parent">
                <a href="#"> Цена (Статус)</a>
                <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                  <li><a href="#">1</a></li>
                  <li><a href="#">Компьютерная техника</a></li>
                  <li><a href="#">Телефоны и аксессуары</a></li>
                  <li><a href="#">Другое</a></li>
                </ul>
              </li>
            </ul>

            <p>Lucky Board</p>
            <div class="uk-flex-middle uk-grid">
              <div class="uk-width-auto uk-first-column">
                <img class="uk-icon-avatar" src="assets/images/lots/user.jpg" alt="">
              </div>
              <div class="uk-width-expand">
                <h5 class="uk-margin-remove-vertical">Rosario Dawson</h5>
                <p class="uk-margin-remove-vertical uk-text-muted">Iphone 7</p>
              </div>
              <div class="uk-width-auto uk-first-column">
                <img class="uk-icon-avatar" src="assets/images/lots/user.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="uk-width-3-4@m  uk-width-4-5@l uk-section-default">
          <div class="uk-padding-small uk-padding-remove-bottom">
            <div class=" uk-padding-remove-bottom">
              <div class="uk-float-right">
                <label class="uk-form-label uk-text-muted">Сортировать</label>
                <select class="uk-select uk-form-width-small uk-form-small">
                  <option>По имени</option>
                  <option>Option 02</option>
                </select>
              </div>
              <h4 class="uk-heading-divider uk-margin-remove-vertical">Рекомендуемые</h4>
            </div>
          </div>

          <div class="uk-background-default uk-padding-small uk-padding-remove-bottom">
            <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hot-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>

                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light  "
                           style="background-image: url('assets/images/lots/2.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">411 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-progress-hot uk-margin-remove" value="88" max="100"></progress>
                  <p class="uk-progress-value-max">88/100</p>
                  <div class="uk-card-body">
                    <h5>Samsung Galaxy A5 2017</h5>
                    <p class="uk-text-muted">Screen (4.7 ", IPS, 1334x750) Apple A10 Fusion / main camera: 12
                      megapixels...</p>
                  </div>
                </div>
              </div>
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>
                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light  "
                           style="background-image: url('assets/images/lots/1.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">11 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-margin-remove" value="67" max="100"></progress>
                  <p class="uk-progress-value-max">67/100</p>
                  <div class="uk-card-body">
                    <h5>Dimplex Opti-myst Albany </h5>
                    <p class="uk-text-muted">В каминном очаге Dimplex Opti-myst Albany использована методика
                      создания... </p>
                  </div>
                </div>
              </div>
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hot-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>

                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light  "
                           style="background-image: url('assets/images/lots/2.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">411 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-progress-hot uk-margin-remove" value="88" max="100"></progress>
                  <p class="uk-progress-value-max">88/100</p>
                  <div class="uk-card-body">
                    <h5>Samsung Galaxy A5 2017</h5>
                    <p class="uk-text-muted">Screen (4.7 ", IPS, 1334x750) Apple A10 Fusion / main camera: 12
                      megapixels...</p>
                  </div>
                </div>
              </div>
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>
                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light  "
                           style="background-image: url('assets/images/lots/1.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">11 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-margin-remove" value="67" max="100"></progress>
                  <p class="uk-progress-value-max">67/100</p>
                  <div class="uk-card-body">
                    <h5>Dimplex Opti-myst Albany </h5>
                    <p class="uk-text-muted">В каминном очаге Dimplex Opti-myst Albany использована методика
                      создания... </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-text-center"><span uk-icon="ratio: 2; icon: chevron-down"></span></div>
          </div>

          <div class="uk-padding-small uk-padding-remove-bottom">
            <div class=" uk-padding-remove-bottom">
              <div class="uk-float-right">
                <label class="uk-text-muted">Супер лоты</label>
                <select class="uk-select uk-form-width-small uk-form-small">
                  <option>По имени</option>
                  <option>Option 02</option>
                </select>
              </div>
              <h4 class="uk-heading-divider uk-margin-remove-vertical">Рекомендуемые</h4>
            </div>
          </div>
          <div class="uk-background-muted-dark uk-padding-small">
            <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid">
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hot-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>

                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light  "
                           style="background-image: url('assets/images/lots/2.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">411 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-progress-hot uk-margin-remove" value="88" max="100"></progress>
                  <p class="uk-progress-value-max">88/100</p>
                  <div class="uk-card-body">
                    <h5>Samsung Galaxy A5 2017</h5>
                    <p class="uk-text-muted">Screen (4.7 ", IPS, 1334x750) Apple A10 Fusion / main camera: 12
                      megapixels...</p>
                  </div>
                </div>
              </div>
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>
                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light  "
                           style="background-image: url('assets/images/lots/1.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">11 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-margin-remove" value="67" max="100"></progress>
                  <p class="uk-progress-value-max">67/100</p>
                  <div class="uk-card-body">
                    <h5>Dimplex Opti-myst Albany </h5>
                    <p class="uk-text-muted">В каминном очаге Dimplex Opti-myst Albany использована методика
                      создания... </p>
                  </div>
                </div>
              </div>
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hot-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>

                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light  "
                           style="background-image: url('assets/images/lots/2.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">411 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-progress-hot uk-margin-remove" value="88" max="100"></progress>
                  <p class="uk-progress-value-max">88/100</p>
                  <div class="uk-card-body">
                    <h5>Samsung Galaxy A5 2017</h5>
                    <p class="uk-text-muted">Screen (4.7 ", IPS, 1334x750) Apple A10 Fusion / main camera: 12
                      megapixels...</p>
                  </div>
                </div>
              </div>
              <div class="uk-panel">
                <div class="uk-card uk-card-default uk-card-pr-hover uk-card-small">
                  <div class="uk-card-media-top">
                    <div class="uk-ribbon">
                      <div>
                        <span class="uk-icon uk-icon-image"
                              style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>
                      </div>
                    </div>
                    <div class="uk-inline-clip uk-light uk-width-1-1">
                      <div class="uk-background-cover uk-position-relative uk-light"
                           style="background-image: url('assets/images/lots/1.jpg');">
                        <img class="uk-invisible uk-width-1-1" src="assets/images/lots/0.jpg" alt="">
                      </div>
                      <div class="uk-position-center">
                        <div class="uk-join-in">
                          <span class="uk-icon uk-icon-image"
                                style="background-image: url('assets/images/icons/ic_star_rate_white_18px.svg');"></span>Join
                          in
                        </div>
                      </div>
                      <div
                        class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small uk-padding-remove-vertical">
                        <p class="uk-h3">11 $</p>
                      </div>
                    </div>
                  </div>
                  <progress class="uk-progress uk-margin-remove" value="67" max="100"></progress>
                  <p class="uk-progress-value-max">67/100</p>
                  <div class="uk-card-body">
                    <h5>Dimplex Opti-myst Albany </h5>
                    <p class="uk-text-muted">В каминном очаге Dimplex Opti-myst Albany использована методика
                      создания... </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-text-center"><span uk-icon="ratio: 2; icon: chevron-down"></span></div>
          </div>
        </div>
      </div>
    </div>

    <div id="offcanvas-overlay-flip-push" uk-offcanvas="mode: push; flip: true; overlay: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">

        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-nav-parent-icon" uk-nav>
          <li><a href="#">О Клубе</a></li>
          <li><a href="#">Правила</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>

        <div>
          <div class="uk-grid-small uk-child-width-auto uk-flex-inline" uk-grid>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: facebook"></a>
            </div>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: twitter"></a>
            </div>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: mail"></a>
            </div>
            <div>
              <a class="uk-icon-button" href="#" uk-icon="icon: receiver"></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
