<p>edit</p>
  <div class="uk-background-muted uk-padding ">
    <form>
    <fieldset class="uk-fieldset">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Text</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text..." >
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label1" for="form-stacked-text">Text</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text1" type="text" placeholder="Some text...">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label2" for="form-stacked-text">Text</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text2" type="text" placeholder="Some text...">
        </div>
    </div>
    </fieldset>
    </form>
  </div>

