<div class="uk-panel uk-panel-lot">
  <div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header uk-grid-match uk-child-width-1-4 uk-grid uk-padding-remove-bottom">
      <p class="uk-progress-value uk-width-1-4 uk-text-muted">50/100</p>
      <p class="uk-width-1-2 uk-text-center uk-lot-name-card"><span>Collectible card</span></p>
      <p class="uk-width-1-4 uk-text-right"><a class="uk-icon-link uk-icon" uk-icon="icon: star"></a>
      </p>
    </div>
    <div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom">
      <div class="uk-margin-small-bottom uk-margin-xsmall-top">
        <progress class="uk-progress uk-margin-remove" value="50" max="100"></progress>
        <div class="empty_circle"></div>
      </div>
      <div class="uk-background-cover uk-position-relative uk-light"
           style="background-image: url('assets/images/lots/lot_1.png');">
        <img alt="" class="uk-invisible uk-width-1-1" src="assets/images/lots/lot_empty.png">
      </div>
    </div>
    <div class="uk-card-footer uk-flex">
      <div class="uk-lot-tagline">
        <small>Drems come true</small>
      </div>
      <div class="uk-lot-prise">50</div>
      <div class="uk-lot-logo-sm">
        <img src="assets/images/luckymarket.svg" alt="">
      </div>
    </div>

  </div>
  <div class="uk-post-card-small">
    <span class="uk-text-muted">Ожидаемая дата розыгрыша:</span><br>
    <strong>22.06.2017</strong>
  </div>
</div>
