<div class="uk-container">
  <div class="uk-grid-collapse uk-child-width-1-4@m uk-child-width-1-5@l uk-grid-match uk-grid">
    <div class="uk-first-column uk-section-default uk-visible@m">
      <lucky-categories-filter></lucky-categories-filter>
    </div>
    <div class="uk-width-3-4@m  uk-width-4-5@l uk-section-default">
      <div class="uk-padding-small">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-auto@s">
            <img src="http://placehold.it/152x190">
          </div>
          <div class="uk-width-expand@s">
            <div class="uk-card uk-card-primary uk-card-body uk-margin">
              <h3 class="">Daniel Devis
                <a class="uk-margin-remove uk-align-right">редактировать</a>
              </h3>

            </div>
            <div class="uk-card uk-card-body uk-background-muted">
              <form class="uk-grid-small uk-form-blank " uk-grid>
                <div class="uk-width-2-5@l">
                  <div class="uk-margin uk-grid-small" uk-grid>
                    <label class="uk-form-label uk-width-1-5@s">Email</label>
                    <div class="uk-form-controls uk-width-4-5@s">
                      <input class="uk-input uk-form-blank" type="text" value="Email@email.com.">
                    </div>
                  </div>
                  <div class="uk-margin uk-grid-small" uk-grid>
                    <label class="uk-form-label uk-width-1-5@s">Text</label>
                    <div class="uk-form-controls uk-width-4-5@s">
                      <input class="uk-input uk-form-blank" type="text" value="Some text...">
                    </div>
                  </div>
                  <div class="uk-margin uk-grid-small" uk-grid>
                    <label class="uk-form-label uk-width-1-5@s">Город</label>
                    <div class="uk-form-controls uk-width-4-5@s">
                      <select class="uk-select uk-form-blank">
                        <option>Option 01</option>
                        <option>Option 02</option>
                      </select>
                    </div>
                  </div>
                  <div class="uk-margin uk-grid-small" uk-grid>
                    <label class="uk-form-label uk-width-1-5@s">Имя</label>
                    <div class="uk-form-controls uk-width-4-5@s uk-form-blank">
                      <input class="uk-input uk-form-blank" type="text" value="Имя" value="{{currentUser?.screen_name}}">
                    </div>
                  </div>
                  <div class="uk-margin uk-grid-small" uk-grid>
                    <label class="uk-form-label uk-width-1-5@s">Фамилия</label>
                    <div class="uk-form-controls uk-width-4-5@s uk-form-blank">
                      <input class="uk-input uk-form-blank" type="text" value="Фамилия">
                    </div>
                  </div>
                </div>
                <div class="uk-width-2-5@l">
                  <div class="uk-margin uk-grid-small" uk-grid>
                    <label class="uk-form-label uk-width-1-5@s">Карта</label>
                    <div class="uk-form-controls uk-width-4-5@s uk-form-blank">
                      <input class="uk-input uk-form-blank" type="text" value="......">
                    </div>
                  </div>
                  <div class="uk-margin uk-grid-small" uk-grid>
                    <label class="uk-form-label uk-width-1-5@s uk-margin">Телефон</label>
                    <div class="uk-form-controls uk-width-4-5@s uk-form-blank">
                      <input class="uk-input uk-form-blank" type="text" value="+3123456789">
                    </div>
                  </div>
                  <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
                    <label class="uk-margin-right">Смс-уведомления </label>

                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>

                  </div>
                </div>
                <div class="uk-width-1-5@l">
                  <div class="uk-margin">
                    <label class="uk-form-label uk-margin">Количество игр <strong>50</strong></label>
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label"> Процент побед <span
                      class="uk-text-success"><strong>20% </strong></span></label>
                  </div>
                </div>
                <div class="uk-width-5-5@l uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить
                  </button>
                  <button class="uk-button uk-button-primary" type="button">Сохранить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <ul class="uk-subnav uk-subnav-pill"
            uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
          <li><a href="#">Коллекция</a></li>
          <li><a href="#">Избранное</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
          <li>
            Коллекция
            <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
              <lucky-lot-item></lucky-lot-item>
              <lucky-lot-item></lucky-lot-item>
              <lucky-lot-item></lucky-lot-item>
              <lucky-lot-item></lucky-lot-item>
            </div>
          </li>
          <li>
                         Избранное
            <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid>
              <lucky-lot-item></lucky-lot-item>
              <lucky-lot-item></lucky-lot-item>
              <lucky-lot-item></lucky-lot-item>
              <lucky-lot-item></lucky-lot-item>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
