<div id="modal-buy" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      <h2 class="uk-modal-title">Выберите платежную систему</h2>
    </div>
    <div class="uk-modal-body">
      <ul class="uk-list uk-list-divider">
        <li class="pay_system checked">
          <input type="radio" value="10" class="uk-radio" checked="checked" name="internet_payment_payment[payrelationid]"
                 id="internet_payment_payment_payrelationid_10">
          <label for="internet_payment_payment_payrelationid_10">
            <img alt="iPay" src="assets/images/ipays/easypay.png" height="50" width="100"/>
            <strong class="name">iPay</strong>
            <span class="comm">Комиссия: отсутствует</span>
            <a class="btn-show-hide dont_rename btn-show" uk-toggle="target: #bps_details_10_1_1">Подробности</a>
          </label>
          <div id="bps_details_10_1_1" class="information" hidden>
            К оплате принимаются карты <strong>VISA</strong> и <strong>MasterCard</strong> <strong>любого коммерческого
            банка Украины и стран СНГ</strong>.
            Ваша банковская карта должна быть открыта для интернет-платежей.
            <br>
            <br>
            Комиссия с плательщика не взимается
            <br>
            <br>Для получения консультации по платежам обращайтесь в службу онлайн-поддержки — кнопка «<strong>Онлайн
            помощь</strong>» на&nbsp;платежной странице или по&nbsp;телефону (044)&nbsp;502-50-75, 0&nbsp;800&nbsp;60&nbsp;11&nbsp;60.
            <br>
            <br>Сайт компании: <a href="https://ipay.ua/">iPay.ua</a>
          </div>
        </li>
        <li class="pay_system">
          <input type="radio" class="uk-radio" value="23" name="internet_payment_payment[payrelationid]"
                 id="internet_payment_payment_payrelationid_23">
          <label for="internet_payment_payment_payrelationid_23">
            <img alt="ПриватБанк" src="assets/images/ipays/privat.png">
            <strong class="name">ПриватБанк</strong>
            <span class="comm">Комиссия: отсутствует</span>
            <a class="btn-show-hide dont_rename btn-show" uk-toggle="target: #bps_details_23_1_1">Подробности</a>
          </label>
          <div id="bps_details_23_1_1" class="information" hidden>
            К оплате принимаются карты <strong>VISA</strong> и <strong>MasterCard</strong> <strong>любого коммерческого
            банка Украины и стран СНГ</strong>.
            Ваша банковская карта должна быть открыта для интернет-платежей.
            <br>
            <br>
            Комиссия с плательщика не взимается
            <br>
            <br>Для получения консультации по платежам обращайтесь в службу онлайн-поддержки — кнопка «<strong>Помощь
            онлайн</strong>» на&nbsp;платежной странице или по ссылке:
            <br><a href="https://siteheart.com/webconsultation/17305">https://siteheart.com/webconsultation/17305</a>
          </div>
        </li>
        <li class="pay_system">
          <input type="radio" class="uk-radio"  value="60" name="internet_payment_payment[payrelationid]"
                 id="internet_payment_payment_payrelationid_60">
          <label for="internet_payment_payment_payrelationid_60">
            <img alt="ПУМБ" src="assets/images/ipays/pumb.png">
            <strong class="name">ПУМБ</strong>
            <span class="comm">Комиссия: отсутствует</span>
            <a class="btn-show-hide dont_rename btn-show" uk-toggle="target: #bps_details_60_1_1">Подробности</a>
          </label>
          <div id="bps_details_60_1_1" class="information" hidden>
            К оплате принимаются карты <strong>VISA</strong> и <strong>MasterCard</strong> <u>любого</u> коммерческого
            банка Украины и стран СНГ.
            <br>
            <br>
            Комиссия с плательщика не взимается
            <br>
            <br>Для получения консультации по платежам обращайтесь в&nbsp;службу поддержки — +38(044)290-7-290 по&nbsp;Украине
            и из-за границы; 490&nbsp;— с&nbsp;мобильных телефонов (согласно тарифам вашего оператора).
            <br>Сайт компании: <a href="http://pumb.ua/">pumb.ua</a>
          </div>
        </li>
        <li class="pay_system">
          <input type="radio" class="uk-radio"  value="917" name="internet_payment_payment[payrelationid]"
                 id="internet_payment_payment_payrelationid_917">
          <label for="internet_payment_payment_payrelationid_917">
            <img alt="PayMaster"
                 src="assets/images/ipays/paymaster.png">
            <strong class="name">PayMaster </strong>
            <span class="comm">Комиссия: <span>1.5%</span></span>
            <a class="btn-show-hide dont_rename btn-show" uk-toggle="target: #bps_details_917_1_1">Подробности</a>
          </label>
          <div id="bps_details_917_1_1" class="information" hidden>
            Все операции со средствами производятся на сайте платёжной системы и абсолютно защищены. Квитанцию платежной
            системы можно получить в момент совершения платежа, а квитанцию сайта - в любой момент после совершения
            платежа.
            <br>
            <br>
            <span class="negative">Комиссия взимается с плательщика в размере 1.5% от суммы платежа.</span>
            <br>
            <br>ля получения консультации по платежам обращайтесь: +38&nbsp;(044)&nbsp;390-03-99 или
            support@paymaster.ua. Больше информации о платёжной системе и способах платежах смотрите на — Сайт компании:
            <a href="https://paymaster.ua/">PayMaster.ua</a>

          </div>


        </li>

        <li class="pay_system">
          <input type="radio" class="uk-radio"  value="1220" name="internet_payment_payment[payrelationid]"
                 id="internet_payment_payment_payrelationid_1220">
          <label for="internet_payment_payment_payrelationid_1220">
            <img alt="Портмоне"
                 src="assets/images/ipays/portmonecom.png">


            <strong class="name">
              Портмоне
            </strong>
            <span class="comm">
      Комиссия:
        <span class="negative">0.5% (не&nbsp;менее 3&nbsp;грн)</span>
    </span>
            <a class="btn-show-hide dont_rename btn-show" uk-toggle="target: #bps_details_1220_1_1">Подробности</a>
          </label>
          <div id="bps_details_1220_1_1" class="information" hidden>
            К оплате принимаются карты <strong>VISA</strong> и <strong>MasterCard</strong> <strong>любого коммерческого
            банка Украины и стран СНГ</strong>.
            Ваша банковская карта должна быть открыта для интернет-платежей.
            <br>
            <br>
            <span class="negative">Комиссия взимается с плательщика в размере 0.5% от суммы платежа, но не менее 3.00 грн</span>
            <br>
            <br>Минимальная сумма платежа составляет 10.00 грн.
            <br>
            <br>Телефоны поддержки: 044&nbsp;200-09-02, 067&nbsp;408-29-77, 099&nbsp;125-06-15. Другие контакты, в том
            числе онлайн-чат, доступны на сайте платежной системы: <a href="https://www.portmone.com.ua/">portmone.com.ua</a>
          </div>
        </li>
        <li class="pay_system">
          <input type="radio" class="uk-radio"  value="1303" name="internet_payment_payment[payrelationid]"
                 id="internet_payment_payment_payrelationid_1303">
          <label for="internet_payment_payment_payrelationid_1303">
            <img alt="EasyPay" src="assets/images/ipays/easypay.png">
            <strong class="name">EasyPay</strong>
            <span class="comm">Комиссия: <span class="negative">1 грн</span></span>
            <a class="btn-show-hide dont_rename btn-show" uk-toggle="target: #bps_details_1303_1_1">Подробности</a>
          </label>


          <div id="bps_details_1303_1_1" class="information" hidden>
            К оплате принимаются карты <strong>VISA</strong> и <strong>MasterCard</strong> <strong>любого коммерческого
            банка Украины и стран СНГ</strong>.
            Ваша банковская карта должна быть открыта для интернет-платежей.
            <br>
            <br>
            <span
              class="negative">Комиссия взимается с плательщика в размере 1.00 грн независимо от суммы платежа.</span>
            <br>
            <br>Минимальная сумма платежа составляет 5.00 грн.
            <br>
            <br>Телефоны поддержки: 0&nbsp;800&nbsp;60&nbsp;30&nbsp;03 (Безкоштовно зі стаціонарних телефонів по
            Україні), +38&nbsp;(044)&nbsp;537&nbsp;33&nbsp;74, +38&nbsp;(095)&nbsp;618&nbsp;48&nbsp;34, +38&nbsp;(097)&nbsp;224&nbsp;33&nbsp;22,
            +38&nbsp;(093)&nbsp;241&nbsp;00&nbsp;31. Другие контакты, в&nbsp;том числе онлайн-чат, доступны на сайте
            платежной системы: <a href="https://easypay.ua/contacts">EasyPay.ua</a>

          </div>
        </li>
      </ul>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <a class="uk-button uk-button-primary" (click)="onBuy()">Оплатить</a>
    </div>
  </div>
</div>

