<div class="uk-offcanvas-content">
  <div class="uk-container">
    <div class="uk-grid-collapse uk-child-width-1-4@m uk-child-width-1-5@l uk-grid-match uk-grid" uk-grid>
      <div class="uk-first-column uk-section-default uk-visible@m">

        <div class="uk-padding-small">
          <ul class="uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
            <li class="uk-flex uk-flex-middle uk-flex-between">Каталог
            <button (click)="onNewCategory()" class="uk-button uk-button-default"><span
              uk-icon="icon: plus-circle"></span></button>
            </li>

            <li *ngFor="let category of getParentCategories()" class="uk-parent">
              <a routerLink='{{category.id}}'>
                <span class="uk-icon uk-icon-image uk-margin-small-right" [ngStyle]="{'background-image': 'url(' + category.picture_url + ')' }"></span>
                {{category.name}}</a>
              <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                <li *ngFor="let subCategory of getSubCategories(category)"><a routerLink='{{subCategory.id}}'>{{subCategory.name}}</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
      <div class="uk-width-3-4@m  uk-width-4-5@l uk-section-default">
        <div class="uk-padding-small">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>
</div>
