<div class="uk-padding-small">
  <p>Lucky Board</p>
  <ul class="uk-list">
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/1.png" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">Особняк в Конча-Заспе</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user_1.jpg" width="42" height="42">
      </div>
    </li>
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/2.png" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">Weekend в Париже</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user_2.jpg" width="42" height="42">
      </div>
    </li>
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/3.png" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">LuckyBonus 500</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user_3.jpg" width="42" height="42">
      </div>
    </li>
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/4.png" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">Mercedes-Benz G550 White</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user_1.jpg" width="42" height="42">
      </div>
    </li>
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/5.png" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">iPhone 7 Red Special Edition</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user_2.jpg" width="42" height="42">
      </div>
    </li>
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/1.png" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">Особняк в Конча-Заспе</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user_3.jpg" width="42" height="42">
      </div>
    </li>
  </ul>
</div>
