<div class="uk-padding-small">
  <p>Lucky Board</p>
  <ul class="uk-list">
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/user1.jpg" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">Iphone 7</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user1.jpg" width="42" height="42">
      </div>
    </li>
    <li class="uk-grid-small uk-grid" uk-grid>
      <div class="uk-width-auto uk-first-column">
        <img alt="" src="assets/images/lots/user1.jpg" width="42" height="42">
      </div>
      <div class="uk-width-expand">
        <span>Rosario Dawson</span>
        <span class="uk-text-muted">Iphone 7</span>
      </div>
      <div class="uk-width-auto">
        <img alt="" src="assets/images/lots/user1.jpg" width="42" height="42">
      </div>
    </li>
  </ul>
</div>
