<div class="uk-offcanvas-content">
  <div class="uk-container">
    <div class="uk-section-default">
      <div class="uk-padding-small">
        <p>lot component</p>
        {{id}}

        <div class="uk-grid-medium uk-grid" uk-grid>

          <div class="uk-width-auto@m uk-first-column">
            <lucky-lot-item></lucky-lot-item>
          </div>
          <div class="uk-width-expand@m">
            <div class="uk-card uk-background-muted uk-card-body ">
              <div uk-grid>
                <div class="uk-width-expand@m">
                  <p class="uk-text-lead">Обладатель данной коллекционной карты примет участие в бесплатном розыгыше</p>
                  <h2 class="uk-article-title uk-grid-margin"></h2>
                </div>
                <div class="uk-width-auto@m" style="width:200px;">
                  <div class="uk-card uk-card-small uk-card-default  uk-text-center">
                    <div class="uk-card-header">
                      Ожидаемая дата
                      розыгрыша
                    </div>
                    <div class="uk-card-footer uk-background-primary uk-light uk-padding uk-panel">
                      <p class="uk-h1">25</p>
                      Июня
                      2017
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p>Apple iPhone 7 128GB RED Screen (4.7 ", IPS, 1334x750) Apple A10 Fusion / main camera: 12 megapixels,
              front camera: 7 megapixels / RAM 2 GB / 128 GB of internal memory / 3G / LTE / GPS / Nano-SIM / iOS 10
              megapixels / RAM 2 GB / 128 GB of internal memory
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
